alcache_cli
.cproject
.ccls-cache
.cache
build_resources/__pycache__/

.project

bidder
local

.DS_Store
.clang

.settings/*

Debug/*
/Debug/

cppTestResults.xml
gtestresults.xml

.ycm_extra_conf.py
.ycm_extra_conf.pyc
tags
.ignore
.tags
.dir-locals.el
.ccls/*
compile_commands.json
build/
build-dev/
build_perf/
build_clang_tidy/
cmake-build-*
docs/html
*.deb
*.idea
.vscode
fuzz_tests/results
default.profraw
tags.temp

venv/
build_resources/venv/
Testing/

./bench_cache.*
./bench_test_cache.*
